@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    background-color: aqua;
    width: 100vh;
    height: 100vh;
}
.bottom-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}