*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 205, 155);
}
li{
    margin: 1rem;
    list-style: none;
    color: rgb(4, 48, 4);
    font-size: large;
    cursor: pointer;
}